
 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime><%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount><%= @resultactivities.count %></ArticleCount>
 <Articles>

 <% @resultactivities.each do |resultactivity| %>
 	<% 
		 if resultactivity.founder.nil?
            resultpicurl = "https://mmbiz.qlogo.cn/mmbiz/5NNlNxENLIsAQ686s5sQm0mO0xgMZ2ZUAjJmKLEl4w2pTwOlX0pN4wgIyBuic4Ljx70wrrhpVOu8elukXkfQmAA/0"
         else
            resultpicurl = resultactivity.founder
         end

            resulturl = resultactivity.f_homepage

 	%>

		 <item>
		 <Title><![CDATA[搜索结果<%= resultactivity.id %>,<%= resultactivity.start_city %>-<%= resultactivity.end_city %>,<%= resultactivity.start_time %>出发,QQ:<%=resultactivity.qq %>  ]]></Title> 
		 <Description><![CDATA[<%= resultactivity.remarks %>]]></Description>
		 <PicUrl><![CDATA[<%= resultpicurl %>]]></PicUrl>
		 <Url><![CDATA[<%= resulturl %>]]></Url>
		 </item>
	 <%# end %>

 <% end %>

 </Articles>
 </xml>