
 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime><%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>

 <item>
 <Title><![CDATA[和我一起去<%=@travelevent.end_city %>玩吧？]]></Title> 
 <Description><![CDATA[《驴友信息随机，重新点击得到更多》
 	<%=@travelevent.remarks %> ]]></Description>
 <PicUrl><![CDATA[http://www.lvdazi.com/uploads/activity/avatar/<%=@travelevent.id %>/thumb_lvdazi.jpg]]></PicUrl>
 <Url><![CDATA[http://www.lvdazi.com/uploads/activity/avatar/<%=@travelevent.id %>/lvdazi.jpg]]></Url>
 </item>

 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>