
 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime><%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>

 <item>
 <Title><![CDATA[快驴 － 美女去哪我去哪]]></Title> 
 <Description><![CDATA[<%=@travelevent.remarks %> 《提示：驴友记录随机显示》]]></Description>
 <PicUrl><![CDATA[<%=@thepicurl %>]]></PicUrl>
 <Url><![CDATA[<%=@thepicurl %>]]></Url>
 </item>


 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>