
<p id="notice"><%= notice %></p>

<h1>新浪微博</h1>
<h2><%= @weibo_yesterday_results.count %></h2>

<table class="table">

  <thead>
    <tr>
      <th>日期</th>
      <th>ID</th>
      <th>微博ID</th>
      <th>微信名</th>
      <th>交互</th>
    </tr>
  </thead>

  <tbody>
  <% @weibo_yesterday_results.each do |activity| %>
    <tr>
      <td><%= activity.created_at.strftime("%Y年%m月%d日") %></td>      
      <td><%= activity.id %></td>
      <td><%= activity.f_homepage %></td>
      <td></td>
      <td></td>
    </tr>
  <% end %> 
</table>

<br>

