
<p id="notice"><%= notice %></p>

<p class="lead">新浪微博: 今日 <%= @today_results.count %></p>

<dl>
  <dt>触达 ¥<%= @weibo_yesterday_results.count * 0.5%></dt>
  <dd> ¥0.5/条, Total: <%= @weibo_yesterday_results.count %></dd>
<br \>
  <dt>关注 ¥<%= @weibo_yesterday_L2_results.count * 2%></dt>
  <dd> ¥2/条, Total: <%= @weibo_yesterday_L2_results.count %></dd>
</dl>

  <dt>交互 ¥<%= @weibo_yesterday_L3_results.count * 5%></dt>
  <dd> ¥5/条, Total: <%= @weibo_yesterday_L3_results.count %></dd>
</dl>
<br \>

<table class="table">

  <thead>
    <tr>
      <th>日期</th>
      <th>更新</th>
      <th>ID</th>
      <th>微博ID</th>
      <th>微信名</th>
      <th>交互</th>
    </tr>
  </thead>

  <tbody>
  <% @weibo_yesterday_results.each do |activity| %>
    <tr>
      <td><%= activity.created_at.strftime("%Y年%m月%d日") %></td>   
      <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
      <td><%= activity.id %></td>
      <td><%= activity.f_homepage %></td>
      <td>
        <%# if (activity.f_wechatid.nil? || activity.f_wechatid.empty? ) %>
        <% if (activity.f_wechatid.blank? ) %>
          N
        <% else %>
          Y
        <% end %>  

      </td>
      <td>
        <% if (activity.f_wechatencrypt.blank?) %>
          N
        <% else %>
          Y
        <% end %>  


      </td>
    </tr>
  <% end %> 
</table>

<br>

