
<p id="notice"><%= notice %></p>


<p>总数<%= @nanjings30.count %></p>
<p>已收集信息<%= @nanjings30.where.not(lianxi:"").count %></p>
<p>已发送邀请<%= @nanjings30.where(result: 0..100).count %></p>
<p>已认证通过<%= @nanjings30.where(result: 1..100).count %></p>
<p>已关注微信<%= @nanjings30.where(result: 2..100).count %></p>
<p>已交互<%= @nanjings30.where(result: 3..100).count %></p>
<p>已群聊<%= @nanjings30.where(result: 4..100).count %></p>

    <br \>

    <table class="table">

      <thead>
        <tr>
          <th>出发日期</th>
          <th>出发城市</th>
          <th>目的城市</th>
          <th>联系方式</th>   
          <th>进展(1已认证,2已关注,3已交互,4已群聊) </th>                
          <th>操作 </th>
          <th>Homepage</th>     

        </tr>
      </thead>

      <tbody>
      <% @nanjings30.each do |nanjing| %>
        <tr>
          <td><%= nanjing.start_time %></td>
          <td><%= nanjing.start_city %></td>
          <td><%= nanjing.end_city %></td>
          <td><%= nanjing.lianxi %></td>
          <td><%= nanjing.result %></td>
          <td><%= link_to '修改', edit_activity_path(nanjing) %> <%= link_to '删除', nanjing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><a href="<%= nanjing.f_homepage %>" target="_blank">点击查看</a></td>

        </tr>

      <% end %> 
    </tbody>

    </table>

