<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">

<p id="notice"><%= notice %></p>

<%#
l1 = @nanjingstarts30.count
l15 = l1 - @nanjingstarts30.where(lianxi:"无").count
l2 = @nanjingstarts30.where.not(lianxi:"").count
l3 = @nanjingstarts30.where(result: 0..100).count
l4 = @nanjingstarts30.where(result: 1..100).count
l5 = @nanjingstarts30.where(result: 2..100).count
#l6 = @nanjings30.where(result: 3..100).count
l7 = @nanjingstarts30.where(result: 4..100).count

%>

<%
totalnum = @nanjingstarts30.count
lianxi_error_num = @nanjingstarts30.where(lianxi:"无").count
info_avail_num = @nanjingstarts30.where(result: 0).count
talkable_num = @nanjingstarts30.where(result: 1).count
card_sent_num = @nanjingstarts30.where(result: 2).count
all_process_num = info_avail_num + talkable_num + card_sent_num + lianxi_error_num
%>

<p>总数 <%= totalnum %>条 </p>
<p>已处理人数：<%= all_process_num%></p>
<p>无效联系人数： <%= lianxi_error_num %>，百分比:<%= number_to_percentage(lianxi_error_num.to_f/all_process_num*100, precision: 0) %>  </p>
<p>有联系方式： <%= info_avail_num %>，百分比: <%= number_to_percentage((info_avail_num+talkable_num+card_sent_num).to_f/all_process_num*100, precision: 0) %>  </p>
<p>通过认证人数：<%= talkable_num %>, 百分比: <%= number_to_percentage((talkable_num+card_sent_num).to_f/all_process_num*100, precision: 0) %>  </p>
<p>已发名片人数：<%= card_sent_num %>, 百分比: <%= number_to_percentage(card_sent_num.to_f/all_process_num*100, precision: 0) %> </p>

<!--
<p>总数 <%#= l1 %>条，有效数目 <%#= l15 %>条，占<%#= number_to_percentage(l15.to_f/l1*100, precision: 0) %>。</p>
<p>已发送邀请<%#= l3 %> / <%#= number_to_percentage(l3.to_f/l15*100, precision: 0) %></p>
<p>可沟通<%#= l4 %> / <%#= number_to_percentage(l4.to_f/l15*100, precision: 0) %></p>
<p>已发名片<%#= l5 %> / <%#= number_to_percentage(l5.to_f/l15*100, precision: 0) %></p>
-->

    <table class="table">

      <thead>
        <tr>
          <th>出发日期</th>
          <th>出发城市</th>
          <th style="
    width: 400px;
">目的城市</th>
          <th>联系方式</th>   
          <th>进展(0已有联系方式,1已认证,2已发名片) </th>                
          <th>操作 </th>
          <th>Homepage</th>     

        </tr>
      </thead>

      <tbody>
      <% @nanjingstarts30.each do |nanjing| %>
      <% if (nanjing.lianxi == "无")%>
        <tr class="danger">
        <% elsif (nanjing.result.nil?) %>
          <tr>
        <% else %>
          <tr class="success">
        <% end %>

          <td><%= nanjing.start_time %></td>
          <td><%= nanjing.start_city %></td>
          <td><%= nanjing.end_city %></td>
          <td><%= nanjing.lianxi %></td>
          <td><%= nanjing.result %></td>
          <td><%= link_to '修改', edit_activity_path(nanjing) %> <%= link_to '删除', nanjing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><a href="<%= nanjing.f_homepage %>" target="_blank">点击查看</a></td>

        </tr>

      <% end %> 
    </tbody>

    </table>

