
<p id="notice"><%= notice %></p>

<%
l1 = @nanjings30.count
l2 = @nanjings30.where.not(lianxi:"").count
l3 = @nanjings30.where(result: 0..100).count
l4 = @nanjings30.where(result: 1..100).count
l5 = @nanjings30.where(result: 2..100).count
l6 = @nanjings30.where(result: 3..100).count
l7 = @nanjings30.where(result: 4..100).count

%>

<p>总数 <%= l1 %></p>
<p>已收集信息 <%= l2 %> / <%= number_to_percentage(l2.to_f/l1*100, precision: 0) %></p>
<p>已发送邀请<%= l3 %> / <%= number_to_percentage(l3.to_f/l1*100, precision: 0) %></p>
<p>已认证通过<%= l4 %> / <%= number_to_percentage(l4.to_f/l1*100, precision: 0) %></p>
<p>已关注微信<%= l5 %> / <%= number_to_percentage(l5.to_f/l1*100, precision: 0) %></p>
<p>已交互<%= l6 %> / <%= number_to_percentage(l6.to_f/l1*100, precision: 0) %></p>
<p>已群聊<%= l7 %> / <%= number_to_percentage(l7.to_f/l1*100, precision: 0) %></p>

    <br \>

    <table class="table">

      <thead>
        <tr>
          <th>出发日期</th>
          <th>出发城市</th>
          <th>目的城市</th>
          <th>联系方式</th>   
          <th>进展(1已认证,2已关注,3已交互,4已群聊) </th>                
          <th>操作 </th>
          <th>Homepage</th>     

        </tr>
      </thead>

      <tbody>
      <% @nanjings30.each do |nanjing| %>
        <tr>
          <td><%= nanjing.start_time %></td>
          <td><%= nanjing.start_city %></td>
          <td><%= nanjing.end_city %></td>
          <td><%= nanjing.lianxi %></td>
          <td><%= nanjing.result %></td>
          <td><%= link_to '修改', edit_activity_path(nanjing) %> <%= link_to '删除', nanjing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><a href="<%= nanjing.f_homepage %>" target="_blank">点击查看</a></td>

        </tr>

      <% end %> 
    </tbody>

    </table>

