
<p id="notice"><%= notice %></p>


    <table class="table table-striped">

      <thead>
        <tr>
          <th>出发日期</th>
          <th>结束日期</th>
          <th>出发城市</th>
          <th>目的城市</th>   
          <th>来源 </th>  
          <th>Homepage</th>     

        </tr>
      </thead>

      <tbody>
      <% @nanjings.each do |nanjing| %>
        <tr>
          <td><%= nanjing.start_time %></td>
          <td><%= nanjing.end_time %></td>      
          <td><%= nanjing.start_city %></td>
          <td><%= nanjing.end_city %></td>
          <td><%= nanjing.beauty %></td>
          <td><a href="<%= nanjing.f_homepage %>">点击查看</a></td>

        </tr>

      <% end %> 
    </tbody>

    </table>