<!DOCTYPE html>
<html>
<head>
  <title>Kuailv</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "zepto.min.js" %>
  <%= javascript_include_tag "main.js" %>  
  <%= javascript_include_tag "swiper-2.1.min.js" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
